*.class
testdata
idx-*
# Package Files #
*.jar
*.war
*.dat
*.ear
data
solrdocs
dist
classes
list.txt
.ant_targets
liresolr.eml
liresolr.iml
.project
/nbproject/private/
/build/
/logs/
docs.xml
out.*
*.log
